
<%= form_tag({controller: "pools", action: "pick"}, method: "post") do %>
<table>
  <thead>
    <tr>
      <th>Prop Bet</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	<%= hidden_field_tag 'pool', @pool.id %>
    <% @props.each do |prop| %>
      <tr>
        <td><%= prop.title %></td>
		<td>
			<table>
				<% prop.choices.each do |c| %>
				<tr>
					<td><%=c.title%></td>
					<td><%="#{c.points} points"%></td>
					<% check = Answer.where(user_id:current_user.id, prop_id: prop.id, choice_id: c.id).empty? ? false : true %>
 					<td><%= radio_button_tag "props[#{prop.id}]", c.id, check %></td>
				<% end %>
				</tr>
			</table>
			
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Submit" %>
<% end %>


<br>