
<div>
  <strong>Title:</strong>
  <%= @pool.title %>
</div>
<div>
  <strong>Pot:</strong>
  $<%= @pool.pot %>
</div>
<div>
  <strong>Owner:</strong>
  <%= @pool.user.email %>
</div>
<div>
  <strong>Closes At:</strong>
  <%= Game.expire(@pool.expires) %>
</div>
<p>

<%= render 'plist' %>


<%= link_to 'Back', games_path %>
