
<p>
  <strong>Title:</strong>
  <%= @prop.title %>
</p>

<p>
  <strong>Active:</strong>
  <%= @prop.active %>
</p>

<p>
  <strong>Game:</strong>
  <%= @prop.game_id %>
</p>

<%= link_to 'Edit', edit_prop_path(@prop) %> |
<%= link_to 'Back', props_path %>
