
<p>
  <strong>Prop:</strong>
  <%= @guess.prop_id %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @guess.correct %>
</p>

<p>
  <strong>Title:</strong>
  <%= @guess.title %>
</p>

<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
